<%- include('header.ejs') %>
            <p class="mainTitle contactPTitle">
                Contact Us
            </p>
            <p class="mainText contactP">
                Name: Adrian Charbonneau <br><br>
                Student id: 40310777 <br><br>
                Email: adriancharb@gmail.com
            </p>
<%- include('footer.ejs') %>